* {
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.add-btn {
  border: none;
  border-radius: .25rem;
  background-color: hotpink;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.75);
  padding: 2px 8px;
  font-weight: bold;
}

.add-btn:hover {
  background-color: rgb(246, 142, 194);
  cursor: pointer;
}

.btn-container {
  display:flex;
  justify-content: center;
}

input {
  color: black;
}

label {
  align-self: start;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.obese, .overweight, .normal, .underweight {
  border-radius: .25rem;
  padding: 2px 4px;
}

.obese {
  background-color: red;
}

.overweight {
  background-color: orange;
}

.normal {
  background-color: green;
}

.underweight {
  background-color: lightgreen;
}

.alert {
  color: red;
  font-size: .6rem;
  font-weight: bold;
}
